{% load static %}
<!DOCTYPE html> 
<html lang="en">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Neon Admin Panel" />
        <meta name="author" content="Laborator.co" />
        <link rel="icon" href="{% static 'assets/frontend/images/favicon.ico' %}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141030632-1"></script> <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
            gtag('config', 'UA-141030632-1', {"groups":"laborator_analytics","link_attribution":true,"linker":{"accept_incoming":true,"domains":["laborator.co","kaliumtheme.com","oxygentheme.com","neontheme.com","themeforest.net","laborator.ticksy.com"]}});
        </script> 
        <title>ProcChain</title>
        <link rel="stylesheet" href="{% static 'assets/frontend/css/bootstrap.css' %}" id="style-resource-1">
        <link rel="stylesheet" href="{% static 'assets/frontend/css/font-icons/entypo/css/entypo.css' %}" id="style-resource-2">
        <link rel="stylesheet" href="{% static 'assets/frontend/css/neon.css' %}" id="style-resource-3">
        <link rel="stylesheet" href="{% static 'assets/frontend/css/team.css' %}" >
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        
        <script src="{% static 'assets/frontend/js/jquery-1.11.3.min.js' %}"></script> <!--[if lt IE 9]><script src="{%static/assets/frontend/js/ie8-responsive-file-warning.js"></script><![endif]--> <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]--> <!-- TS1564916727: Neon - Responsive Admin Template created by Laborator --> 
    
    </head>
    <style>
        html{
            scroll-behavior: smooth;
        }
    
        .main-menu.hidden-xs li a{
            text-decoration: none;
            color: rgb(17, 14, 14);
            font-size: 15px
        }

        
    </style>

    <body>
        <!-- TS15649167275592: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
        <div class="wrap">
            <!-- TS156491672717752: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <div class="site-header-container container">
                <div class="row">
                    <div class="col-md-12" >
                        <header class="site-header">
                            <section class="site-logo"> <a href="index.html"> <img src="{% static 'assets/frontend/images/logo.png' %}" width="170" /> </a> </section>
                            <nav class="site-nav" id='navbar'>
                                <ul class="main-menu hidden-xs" id="main-menu" >
                                    <li > <a href="#aboutUs"> <span>About Us</span> </a> </li>
                                    <li > <a href="#features"> <span>Features</span> </a> </li>
                                    <li> <a href="#team"> <span>Team</span> </a> </li>
                                    <li> <a href="#contact"> <span>Contact Us</span> </a> </li>
                                    <li> <a href="{% url 'authLogin' %}"> <span>Sign In</span> </a> </li>
                                    <li> <a href="{% url 'authRegister' %}"> <span>Sign Up</span> </a> </li>
                                    <!-- <li class="search">
                                        <a href="#"> <i class="entypo-search"></i> </a> 
                                        <form method="get" class="search-form" action="" enctype="application/x-www-form-urlencoded"> <input type="text" class="form-control" name="q" placeholder="Type to search..." /> </form>
                                    </li> -->
                                </ul>
                                <div class="visible-xs"> <a href="#" class="menu-trigger"> <i class="entypo-menu"></i> </a> </div>
                            </nav>
                        </header>
                    </div>
                </div>
            </div>
            <!-- TS156491672716279: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> <!-- TS156491672719419: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <section class="slider-container" style="background-image: url(static/assets/frontend/images/slide-img-1-bg.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slides">
                                <div class="slide">
                                    <div class="slide-content">
                                        <h2> <small>Procchain</small>
                                            Smart India Hackathon 2020
                                        </h2>
                                        <p style = 'font-size: 15px;'>
                                            Blockchain Powered Procurement System for GAIL<br /> Team : Code Sparks
                                        </p>
                                    </div>
                                    <div class="slide-image"><img src="{% static 'assets/frontend/images/hiclipart.com.png' %}" class="img-responsive" /> </a> </div>
                                </div>
                                <div class="slide" data-bg="{% static 'assets/frontend/images/slide-img-1-bg.png' %}">
                                    <div class="slide-image"> <a href="#"> <img src="{% static 'assets/frontend/images/smartContract.png' %}" class="img-responsive" /> </a> </div>
                                    <div class="slide-content text-right">
                                        <h2> <small>Procchain</small>
                                            Motive
                                        </h2>
                                        <p style = 'font-size: 15px;'>
                                            Reducing latency time between the Vendor and GAIL, <br />
                                            making Tender procurement secure and hence,<br />
                                            more efficient using Ethereum.
                                        </p>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="slide-content">
                                        <h2> <small>Procchain</small>
                                            Solution
                                        </h2>
                                        <p style = 'font-size: 15px;'>
                                            Web-based Apllication capable of dealing with all<br />
                                            users involved in the supply chain between GAIL and the Vendor. 
                                        </p>
                                    </div>
                                    <div class="slide-image"> <a href="#"> <img src="{% static 'assets/frontend/images/slide-img-2.png' %}" class="img-responsive" /> </a> </div>
                                </div>
                                <div class="slides-nextprev-nav"> <a href="#" class="prev"> <i class="entypo-left-open-mini"></i> </a> <a href="#" class="next"> <i class="entypo-right-open-mini"></i> </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- TS156491672717418: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            
            <section class = "features-blocks" id = "aboutUs" name = 'about'>
                <div class = "container">
                    <h1 style= 'text-align: center'>ABOUT US</h1>
                    <p style= 'font-size: 20px ; text-align: center ; padding: 10px; margin-left: 10% ; margin-right: 10% '>
                        ProcChain is an easy-to-use, efficient, blockchain based software to digitise a company's procurement system. 
                        It uses blockchain and proof of delivery for logistics and supply chain. 
                        The process of bidding on tenders is also digitised and implemented on blockchain. 
                        The software provides personalised dashboards according to your requirements making it very user-friendly.
                    </p>
                </div>
            </section>
            <br /> <br /> <br /> <br /> <br /> <br /> <br />
            <h1 style = 'text-align: center' >FEATURES</h1>
            <section class="features-blocks" id='features'>
                <div class="container">
                    <h3 style = 'text-align: center;'>GAIL</h3>
                    <div class="row vspace">
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-cog"></i>
                                    Settings
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-gauge"></i>
                                    Dashboard
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    On am we offices expense thought. Its hence ten smile age means. Seven chief sight far point any. Of so high into easy.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-lifebuoy"></i>
                                    24/7 Support
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    Extremely eagerness principle estimable own was man. Men received far his dashwood subjects new.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h3 style = 'text-align: center;'>MiddleMan</h3>
                    <div class="row vspace">
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-cog"></i>
                                    Settings
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence son shy.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-gauge"></i>
                                    Dashboard
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    On am we offices expense thought. Its hence ten smile age means. Seven chief sight far point any. Of so high into easy.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature-block">
                                <h3> <i class="entypo-lifebuoy"></i>
                                    24/7 Support
                                </h3>
                                <p style = 'font-size: 15px;'>
                                    Extremely eagerness principle estimable own was man. Men received far his dashwood subjects new.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                </div>  
            </section>

            <section id="team" class="pb-5">
                <div class="container">
                    <h1 style = 'text-align: center' >OUR TEAM </h1>
                    <br />
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Ayesha Gulrajani</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>Frontend Developer</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Ayesha Gulrajani</h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Harshita Singh</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>UI/UX Designer</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Harshita Singh</h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Aishwarya Nair</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>Database Admin</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Aishwarya Nair</h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Jay Bendre</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>Backend Developer</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Jay Bendre </h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Vignesh Pillai</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>Blockchain Developer</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Vignesh Pillai</h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card" style = 'border-style: solid ; border-color: rgb(233, 227, 227); '>
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                                <br />
                                                <h2 class="card-title">Sumedh Ghavat</h2>
                                                <h3 style = 'color:rgb(66, 60, 60)'>Blockchain Developer</h3>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Sumedh Ghavat</h4>
                                                <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
            
                    </div>
                </div>
            </section>
            <!-- Team -->
            <!-- TS156491672719158: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <!-- <section class="portfolio-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="portfolio-info">
                                <h3> <a href="#">Portfolio</a> </h3>
                                <p>Fifteen no inquiry cordial so resolve garrets as. Impression was estimating surrounded solicitude indulgence s...</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="portfolio-item">
                                <a href="../portfolio-single/index.html" class="image"> <img src="{% static 'assets/frontend/images/portfolio-thumb-1.png' %}" class="img-rounded" /> <span class="hover-zoom"></span> </a> 
                                <h4> <a href="../portfolio-single/index.html" class="like"> <i class="entypo-heart"></i> </a> <a href="../portfolio-single/index.html" class="name">Neon</a> </h4>
                                <div class="categories"> <a href="../portfolio-single/index.html">Web Design / Development</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="portfolio-item">
                                <a href="../portfolio-single/index.html" class="image"> <img src="{% static 'assets/frontend/images/portfolio-thumb-2.png' %}" class="img-rounded" /> <span class="hover-zoom"></span> </a> 
                                <h4> <a href="../portfolio-single/index.html" class="like liked"> <i class="entypo-heart"></i> </a> <a href="../portfolio-single/index.html" class="name">Motorola</a> </h4>
                                <div class="categories"> <a href="../portfolio-single/index.html">Photography</a> </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="portfolio-item">
                                <a href="../portfolio-single/index.html" class="image"> <img src="{% static 'assets/frontend/images/portfolio-thumb-3.png' %}" class="img-rounded" /> <span class="hover-zoom"></span> </a> 
                                <h4> <a href="../portfolio-single/index.html" class="like"> <i class="entypo-heart"></i> </a> <a href="../portfolio-single/index.html" class="name">Dribbble</a> </h4>
                                <div class="categories"> <a href="../portfolio-single/index.html">UI Design</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- TS156491672712546: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <!-- <div class="container">
                <div class="row vspace">
                    <div class="col-md-12">
                        <div class="callout-action">
                            <h2>Get your copy of Neon now</h2>
                            <div class="callout-button"> <a href="index.html" class="btn btn-secondary">Purchase</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TS156491672718195: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <!-- <section class="testimonials-container">
                <div class="container">
                    <div class="col-md-12">
                        <div class="testimonials carousel slide" data-interval="8000">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <blockquote>
                                        <p>
                                            Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. <br />
                                            Pellentesque fermentum, ante ac interdum ullamcorper.
                                        </p>
                                        <small> <cite>Art Ramadani</cite> - co-founder at Laborator
                                        </small> 
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>
                                            Entered of cordial do on no hearted. Yet agreed whence and unable limits. <br />
                                            Use off him gay abilities concluded immediate allowance.
                                        </p>
                                        <small> <cite>Larry Page</cite> - co-founder at Google
                                        </small> 
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>
                                            Of regard warmth by unable sudden garden ladies. No kept hung am size spot no. <br />
                                            Likewise led and dissuade rejoiced welcomed husbands boy. 
                                        </p>
                                        <small> <cite>Bill Gates</cite> - ceo at Microsoft
                                        </small> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> --> 
            <!-- TS156491672719670: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <!-- <section class="clients-logos-container">
                <div class="container">
                    <div class="row">
                        <div class="client-logos carousel slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner">
                                <div class="item active"> <a href="#"> <img src="{% static 'assets/frontend/images/client-logo-1.png' %}" /> </a> <a href="#"> <img src="{%static 'assets/frontend/images/client-logo-2.png' %} " /> </a> <a href="#"> <img src="{% static 'assets/frontend/images/client-logo-3.png' %} " /> </a> <a href="#"> <img src="{% static 'assets/frontend/images/client-logo-4.png' %}" /> </a> </div>
                                <div class="item"> <a href="#"> <img src="{% static 'assets/frontend/images/client-logo-2.png' %}" /> </a> <a href="#"> <img src="{%static 'assets/frontend/images/client-logo-1.png' %}" /> </a> <a href="#"> <img src="{%static 'assets/frontend/images/client-logo-4.png' %}" /> </a> <a href="#"> <img src="{% static 'assets/frontend/images/client-logo-3.png' %}" /> </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- TS156491672710581: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> 
            <section class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#"> <img src="{% static 'assets/frontend/images/logo.png' %}" width="150" /> </a> 
                            <p style = 'font-size: 15px;'>
                                Procurement made easier.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h5>Address</h5>
                            <p style = 'font-size: 15px;'>
                                VESIT <br />
                                Collector's Colony <br />
                                Chembur, Mumbai 
                            </p>
                        </div>
                        <div class="col-sm-3" id='contact'>
                            <h5>Contact</h5>
                            <p style = 'font-size: 15px;'>
                                2017.jay.bendre@ves.ac.in
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            Copyright &copy; Procchain - All Rights Reserved. 
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="{% static 'assets/frontend/js/gsap/TweenMax.min.js' %}" id="script-resource-1"></script> 
        <script src="{% static 'assets/frontend/js/bootstrap.js' %}" id="script-resource-2"></script> 
        <script src="{% static 'assets/frontend/js/joinable.js' %}" id="script-resource-3"></script> 
        <script src="{% static 'assets/frontend/js/resizeable.js' %}" id="script-resource-4"></script> 
        <script src="{%static 'assets/frontend/js/neon-slider.js' %}" id="script-resource-5"></script> 
        <!-- JavaScripts initializations and stuff --> 
        <script src="{%static 'assets/frontend/js/neon-custom.js' %}" id="script-resource-6"></script> 
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28991003-7']);
            _gaq.push(['_setDomainName', 'demo.neontheme.com']);
            _gaq.push(['_trackPageview']);
            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script> 
    </body>
</html>
<!-- Localized -->