{% extends 'Gail/layout/header.html' %}
{% load static %}
{% block Gail %}
    <div class="mail-env">
        <div class="mail-body">
            <div class="row" id="search_results">
            </div>
        </div>
        {% include 'Gail/Tender/TenderFilters.html' %}
    </div>
    
{% endblock %}

{% block Gail_footer %}
    <!-- <script src = '{% static "assets/blockchainTesting/readingTenderList.js" %}'></script> -->
    <script>
        // Load tenders on load
        $(document).ready(function() {

            // console.log("hello!");
            
            $.getJSON('{% static "assets/blockchainTesting/tenderlist.json" %}', function(data) {
                
                // console.log(data);
                // $("#search_results").append(String(data))
                var append = "";

                $.each(data, function(key, val) {
                    console.log(val.location)
                    
                    // var str = "{% url 'view_bids' '"
                    var view_bids = '{% url "view_bids" "0x09106852f32fbc81f052659dc9010f9c32c4f386bad35eb637336d594ee92a5fa9530709ea0479ac" %}' 
                    append += '<div class="member-entry" style="margin-left: 30px; margin-right: 30px; left: 0" >'
                        + '<div class="member-details" >'
                            + '<h4>'
                                + val.tender_title
                            + '</h4>'
                            + '<div class="row info-list" >'
                                + '<div class="col-sm-4">' 
                                    + '<i class="entypo-calendar"></i>Closing Date <a href="#">' + String(Date(val.deadline)) + '</a>'
                                + ' </div>'
                                + '<div class="col-sm-4">' 
                                    + '<a href="' + view_bids + '" class="btn btn-danger pull-right">View Bids / Edit Tender</a>'
                                + ' </div>'
                                + '<div class="col-sm-4">' 
                                    + '<a href="" class="btn btn-primary pull-right">View Tender</a>'
                                + ' </div>'
                            + '</div>'
                        + '</div>'
                        + '</div>'
                });

                $("#search_results").append(append)
            });

        });
        function filterData() {
            alert($("#filters").get())
        }
    </script>

{% endblock %}