<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" style="color: black; font-size: 24px;">
                    <em id = "tender_details_panel">Tender Details</em>
                </div>
                <div class="panel-options">
                    <a href="#" data-rel="collapse">
                        <i class="entypo-down-open"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <!--
                    Job details here                    
                -->
                <p style="color: black; font-size: 14px;">
                    <h3 id = "tender_details_panel_tender_name">Tender Name</h3>
                    Deadline
                    <br />
                    File
                </p>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-12">
                        <button class="btn btn-basic" onclick=payOrderForm()>Generate Pay Order</button>
                    </div>
                    <span class="visible-xs">
                        <br />
                    </span>
                    <div class="col-md-4 col-sm-12">
                        <button class="btn btn-primary">View Pay Order</button>
                    </div>
                    <span class="visible-xs">
                        <br />
                    </span>
                    <div class="col-md-4 col-sm-12">
                        <button class="btn btn-warning">View Invoice</button>
                    </div>
                    <span class="visible-xs">
                        <br />
                    </span>
                    <!-- <div class="col-md-3 col-sm-12">
                        <button class="btn btn-danger">Shipment Details</button>
                    </div> -->
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-md-4 col-sm-12">
                        <button class="btn btn-danger" onclick=logPaymentForm()>Log Payment</button>
                    </div>
                    <span class="visible-xs">
                        <br />
                    </span>
                    <div class="col-md-4 col-sm-12">
                        <button class="btn btn-success" onclick=shipmentDetails()>Shipment Details</button>
                    </div>
                    <span class="visible-xs">
                        <br />
                    </span>
                </div>
                <!-- {{applicants.applicant_list}} -->
                <br />
                
            </div> 
            <!-- <div class="panel-footer">
                
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div id = "form">

    </div>
</div>

<div id = "shipmentDetails" style="visibility: hidden;">
    {% include 'Gail/ShipmentPayment/ShipmentDetails.html' %}
</div>

<script>
    
    function payOrderForm() {
        var form = '<form role="form" class="form-horizontal">'
            + '{% csrf_token %}'
            + '<div class="form-group">' 
            + '<label for="tender" class="col-sm-3 control-label">Upload File</label> '
            + '<div class="col-sm-5"> '
            + '<a class="file-input-wrapper btn form-control file2 inline btn btn-primary">'
            + '<i class="glyphicon glyphicon-file"></i> Browse '
            + '<input type="file" required="yes" />'
            + '</a>'
            + '</div>' 
            + '</div>'
            + '<div class="form-group">'
            + '<div class="col-sm-3"></div>'
            + '<div class="col-sm-4">'
            + '<button type="submit" class="btn btn-primary">Upload</button>'
            + '</div>'
            + '</div>'
            + '</form>';
        $("#form").empty();
        $("#form").append(form);
    }

    function logPaymentForm(){
        var form = '<form role="form" class="form-horizontal">'
            + '{% csrf_token %}'
            + '<div class="form-group">' 
            + '<label for="tender" class="col-sm-3 control-label">Amount</label> '
            + '<div class="col-sm-5"> '
            + '<input type="text" class="form-control" placeholder="Amount" required="yes" data-label="" style="left: 41.7px; top: 17.2125px;" />'
            + '</div>' 
            + '</div>'
            + '<div class="form-group">'
            + '<div class="col-sm-3"></div>'
            + '<div class="col-sm-4">'
            + '<button type="submit" class="btn btn-primary">Log</button>'
            + '</div>'
            + '</div>'
            + '</form>';
        $("#form").empty();
        $("#form").append(form);
    }

    function shipmentDetails(){
        $("#shipmentDetails").css("visibility", 'visible');
    }
</script>
