{% extends 'Gail/layout/header.html' %}
{% block Gail %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h1 style="color: black;"><em>Upload Tender</em></h1>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" id = "form" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group"> 
                        <label for="title" class="col-sm-3 control-label">Title</label> 
                        <div class="col-sm-5"> 
                            <input type="text" required="yes" class="form-control" id="title" placeholder="Title"> 
                        </div> 
                    </div>

                    <div class="form-group"> 
                        <label for="deadline" class="col-sm-3 control-label">Tender Close Date</label> 
                        <div class="col-sm-5"> 
                            <input type="date" required="yes" class="form-control" id="deadline" placeholder="Tender Close Date"> 
                        </div> 
                    </div>

                    <div class="form-group"> 
                        <label for="tender" class="col-sm-3 control-label">Upload File</label> 
                        <div class="col-sm-5"> 
                            <a class="file-input-wrapper btn form-control file2 inline btn btn-primary">
                                <i class="glyphicon glyphicon-file"></i> 
                                Browse
                                <input type="file" id = "myfile" name = "myfile"/>
                            </a>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" onclick="uploadTenders()" class="btn btn-primary">Upload Tender</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal"><!-- Place at bottom of page --></div>
<script type="text/javascript">
    // form upload
    function uploadTenders(){
        console.log('ajax call');
        $body = $("body");

        $(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }    
        });

        $('#form').submit(function(e){
            e.preventDefault();
            var formData = new FormData(this);
            console.log('ajax');
            $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
            });
            $.ajax({
                url: "{% url 'file_upload' %}",
                type: 'POST',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                data: formData,
                success: function (response) {
                    console.log(response)
                    if(response.error){
                        $.each(response.errors, function(name, error){
                            error = '<small class="text-muted error">' + error + '</small>'
                        })
                    }
                    else{
                        document.write('<p>tender added successfully</p>')
                    }
                },
                cache: false,
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data'
            });
            return false
        // end
        });
    }

   </script>

{% endblock %}

