{% extends 'Gail/layout/header.html' %}
{% block Gail %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    <h1 style="color: black;"><em>Upload Tender</em></h1>
                </div>
            </div>
            <div class="panel-body">
                <form role="form" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group"> 
                        <label for="title" class="col-sm-3 control-label">Title</label> 
                        <div class="col-sm-5"> 
                            <input type="text" class="form-control" id="title" placeholder="Title"> 
                        </div> 
                    </div>

                    <div class="form-group"> 
                        <label for="deadline" class="col-sm-3 control-label">Tender Close Date</label> 
                        <div class="col-sm-5"> 
                            <input type="text" class="form-control" id="deadline" placeholder="Tender Close Date"> 
                        </div> 
                    </div>

                    <div class="form-group"> 
                        <label for="tender" class="col-sm-3 control-label">Upload File</label> 
                        <div class="col-sm-5"> 
                            <a class="file-input-wrapper btn form-control file2 inline btn btn-primary">
                                <i class="glyphicon glyphicon-file"></i> 
                                <!-- Browse -->
                                <input type="file" class="form-control file2 inline btn btn-primary" data-label="" style="left: 41.7px; top: 17.2125px;" />
                            </a>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Upload Tender</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
