{% extends 'Gail/layout/header.html' %}
{% load static %}
<!-- {{user_data}} -->
{% block Gail %}
    <!-- {{request.session}} -->
    <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-3">
            Bids Selected : 
        </div>
    </div>

    <hr />
    
    <table class="table table-bordered responsive table-hover table-primary text-center">
        <thead>
            <tr>
                <td>Tender Name</td>
                <td>Vendor Name</td>
                <td>Selected By</td>
                <!-- <td></td>
                <td>Total Rank</td> -->
                <td>&nbsp;</td>
                <!-- <td>&nbsp;</td> -->
                <!-- <td>&nbsp;</td> -->
            </tr>
        </thead>
        <tbody id = "table_body_selected_bids">
            <tr>
                <td>Steel Pipes</td>
                <td>Tata Steel Ltd.</td>
                <td>Code Sparks</td>
                <td><a class="btn btn-primary" href="{% url 'view_tender_detail' %}"><i class="entypo-info-circled"></i></a></td>
                <!-- <td><button class="btn btn-danger" onclick="reject({{value.u_id}})">Reject</button></td> -->
            </tr>
            <tr>
                <td>Furniture</td>
                <td>Lodha</td>
                <td>Bert Homes</td>
                <td><a class="btn btn-primary" href="{% url 'view_tender_detail' %}"><i class="entypo-info-circled"></i></a></td>
                <!-- <td><button class="btn btn-danger" onclick="reject({{value.u_id}})">Reject</button></td> -->
            </tr>
            <tr>
                <td>Wires</td>
                <td>ASFY</td>
                <td>Elizabeth Longs</td>
                <td><a class="btn btn-primary" href="{% url 'view_tender_detail' %}"><i class="entypo-info-circled"></i></a></td>
                <!-- <td><button class="btn btn-danger" onclick="reject({{value.u_id}})">Reject</button></td> -->
            </tr>
        </tbody>
    </table>
    
{% endblock %}

{% block GAIL_footer %}
    <script>
        
    </script>
{% endblock %}

