{% extends 'Middleman/layout/header.html' %}
{% load static %}
{% block middleman %}
    <h2>
        Current Orders
    </h2>

    <table class="table table-bordered table-responsive table-hover table-primary text-center">
        <thead>
            <tr>
                <td>Tender Name</td>
                <td>Vendor Name</td>
                <td>Arrival</td>
                <td>Dispatch</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Steel Pipes</td>
                <td>Tata Steel Ltd.</td>
                <td>12th Feb</td>
                <td>14th Feb</td>
                <td><a class="btn btn-primary" href="#enter_otp" onclick="getState(0)" data-toggle = "modal" data-target="#enter_otp">Arrived</a></td>
                <td><a class="btn btn-info" href="{% url 'testing' %}" onclick="getState(1)" data-toggle = "modal" data-target="#enter_otp">Dispatched</a></td>
            </tr>
        </tbody>
    </table>
    {% include 'Middleman/OTP.html' %}
{% endblock %}

{% block middleman_footer %}

<script>
    function getState(state){
        $("#enter_otp_body_div").empty();
        if (state == 0) {
            $("#enter_otp_body_div").append("Arrived!");
        } else {
            $("#enter_otp_body_div").append("Dispatched!");
        }
        
    }
</script>

{% endblock %}