{% extends 'Gail/layout/header.html' %}
{% load static %}
{% block Gail %}
<!-- {{contract_addr}} -->
<table class="table table-bordered responsive table-hover table-primary text-center">
    <thead>
        <tr>
            <td>Vendor Name</td>
            <td>Bidded At</td>
            <td>Bid</td>
            <!-- <td>CV Rank</td>
            <td>Total Rank</td> -->
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <!-- <td>&nbsp;</td> -->
        </tr>
    </thead>
    <tbody id = "table_body_bid_list" >
        <!-- <tr>
            <td>XYZ</td>
            <td>Today</td>
            <td>File</td>
            <td><button class="btn btn-primary">Accept</button></td>
            <td><button class="btn btn-danger">Reject</button></td>
        </tr> -->
    </tbody>
</table>
<div id="test"></div>
{% include 'Gail/Tender/TenderDetailsPanel.html' %}
{% endblock %}

{% block Gail_footer %}

<script>

    // Blockchain calls will have to be made in the same manner
    // Mock Response
    $(document).ready(function(){
        console.log("heya")
        
        var is_bid_selected = 0;
        var selected_bid = -1;
        var columns = "";
        // Get tender details
        // tender address can be accessed using {{contract_addr}}
        
        // Fetching tender details from mock response
        $.getJSON('{% static "assets/blockchainTesting/tender.json" %}', function(data){
            // console.log("cool")
            // console.log(data)

            $("#tender_details_panel_tender_name").html(data.tender_title)
            $("#tender_deadline").html(data.deadline)

            is_bid_selected = data.is_bid_selected

            if(is_bid_selected){
                selected_bid = data.selected_bid
            }

        });

        // Get Bid details
        // tender address will have to be sent
        // Can be accessed using {{contract_addr}}

        // Fetching bid list from mock reponses
        $.getJSON('{% static "assets/blockchainTesting/tenderBidList.json" %}', function(data){
            console.log("testing")
            // console.log(data)

            var bids = ""
            var i = 0;
            $.each(data, function(key, val){
                console.log(val)
                var classname = "";
                var style = "";
                // Setting the last two columns according to bid selection status
                if (is_bid_selected && key == selected_bid){
                    columns = "<td class='text-success bg-success'>Accepted</td><td>&nbsp;</td>"
                    classname = "bg-success"
                    style = "color: black;"
                }
                else if (is_bid_selected && i != selected_bid){
                    columns = "<td class='text-danger bg-danger'>Rejected</td><td>&nbsp;</td>"
                }
                else {
                    columns = '<td><button class="btn btn-primary">Accept</button></td>'
                    + '<td><button class="btn btn-danger">Reject</button></td>'
                }

                bids += '<tr class = "'+ classname +'" style= "'+ style +'" id = "'+ key +'">' 
                        + '<td> '+ val.vendor_name +' </td>'
                        + '<td>' + String(Date(val.initiated_at)) + '</td>'
                        + '<td>' + '<a>Download File</a>' + '</td>'
                        + columns
                    + '</tr>'
                
                
                i ++;
            });
            $("#table_body_bid_list").append(bids)
        });
        console.log("exit")
    });



</script>

{% endblock %}