{% extends 'Gail/layout/header.html' %}
{% load static %}
{% block Gail %}
<!-- {{contract_addr}} -->
<table class="table table-bordered responsive table-hover table-primary text-center">
    <thead>
        <tr>
            <td>Vendor Name</td>
            <td>Bidded At</td>
            <td>Bid</td>
            <!-- <td>CV Rank</td>
            <td>Total Rank</td> -->
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <!-- <td>&nbsp;</td> -->
        </tr>
    </thead>
    <tbody id = "table_body_bid_list" >
        <tr>
            <td>XYZ</td>
            <td>Today</td>
            <td>File</td>
            <td><button class="btn btn-primary" onclick="accept({{value.u_id}})">Accept</button></td>
            <td><button class="btn btn-danger" onclick="reject({{value.u_id}})">Reject</button></td>
        </tr>
    </tbody>
</table>
<div id="test"></div>
{% include 'Gail/Tender/TenderDetailsPanel.html' %}
{% endblock %}

{% block Gail_footer %}

<script>

    // Blockchain calls will have to be made in the same manner
    // Mock Response
    $(document).ready(function(){
        console.log("heya")
        // Get tender details
        // tender address can be accessed using {{contract_addr}}
        
        // Fetching tender details from mock response
        $.getJSON('{% static "assets/blockchainTesting/tender.json" %}', function(data){
            console.log("cool")
            console.log(data)
        });

        // Get Bid details
        // tender address will have to be sent
        // Can be accessed using {{contract_addr}}

        // Fetching bid list from mock reponses
        $.getJSON('{% static "assets/blockchainTesting/tenderBidList.json" %}', function(data){
            console.log("testing")
            console.log(data)

            var bids = ""

            $.each(data, function(key, val){
                bids += ""
            });

        });
        console.log("exit")
    });



</script>

{% endblock %}